/* reset rules */
*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1  {
    margin-left: 1px;
}

/* debug rules */
.blue {
    height: 50px;
    background-color: #006CFA;
    margin: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.green {
    margin: 1px;
    background-color: #00E164;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}




